# exclude .gitignore and similar from the generated tarball
.git*           export-ignore
# exclude gulp from export
.travis-ci.yml  export-ignore
.appveyor.yml   export-ignore
gulp.js   export-ignore
gulpfile.js   export-ignore
.DS_Store export-ignore
*.tar.gz export-ignore
*.zip export-ignore
*.exe export-ignore
*.dmg export-ignore